<% extend('layout') -%>

<h1>Welcome to increase capital</h1>

<div class="card-deck">
	<div class="card">
		<img
			class="card-image-top rounded-circle"
			src="/img/capital1.gif"
			alt="Card image cap"
			height="200"
			width="200"
		/>
		<div class="card-body">
			<h5 class="card-title">Customer data</h5>
			<p class="card-text">
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae ipsam saepe ducimus consectetur
				excepturi neque molestias exercitationem incidunt animi, debitis, ut illo tempore voluptatem assumenda
				laboriosam reprehenderit quidem natus alias!
			</p>
		</div>
		<div class="card-footer">
			<a href="/customers" class="btn btn-info" role="button">Customers</a>
		</div>
	</div>
	<div class="card">
		<img class="card-image-top rounded-circle" src="/img/loan.png" alt="Card image cap" height="200" width="200" />
		<div class="card-body">
			<h5 class="card-title">Loans info</h5>
			<p class="card-text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit corrupti accusantium perspiciatis
				assumenda eveniet? Magnam quis, beatae consequatur ut a itaque nemo atque, veniam eum quas voluptas
				recusandae, facilis autem.
			</p>
		</div>
		<div class="card-footer">
			<a href="/loans" class="btn btn-info" role="button">Loans</a>
		</div>
	</div>
	<div class="card">
		<img class="card-image-top rounded-circle" src="/img/repay.png" alt="Card image cap" height="200" width="200" />
		<div class="card-body">
			<h5 class="card-title">Loan Repayment info</h5>
			<p class="card-text">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti deleniti quidem maxime asperiores
				quia dignissimos laudantium quam laborum quis illum vero aperiam distinctio, ipsa blanditiis, nesciunt
				et saepe. Minima, dicta?
			</p>
		</div>
		<div class="card-footer">
			<a href="/repayments" class="btn btn-info" role="button">Repayments</a>
		</div>
	</div>
</div>
<div class="container mt-5">
	<footer class="footer-copyright py-3">
		<span class="text-muted">© 2019 Copyright: <a href=""> Increase Captital</a></span>
	</footer>
</div>
