<% extend('layout') -%>

<h1>Welcome to increase capital <%= name %></h1>
<h4>These are the loan status</h4>

<table class="table">
	<thead class="thead-light">
		<tr>
			<th scope="col">id</th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col">Loan Status Code</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		<% if(data.length){ for(let i=0; i < data.length; i++) { %>

		<tr>
			<th scope="row"><%= (i + 1) %></th>
			<td></td>
			<td></td>
			<td><%= data[i].loan_status %></td>
			<td></td>
		</tr>

		<%} } else { %>
		<tr>
			<td>No records</td>
		</tr>

		<% } %>
	</tbody>
</table>
